<h1>Datenschutzerklärung nach der DSGVO</h1>

<div>
    <p>
        <span><strong>I. Name und Anschrift des/der Verantwortlichen</strong></span><br>
        Verantwortlich im Sinne der Datenschutz-Grundverordnung und anderer nationaler Datenschutzgesetze der
        Mitgliedsstaaten<br>
        sowie sonstiger datenschutzrechtlicher Bestimmungen ist die:<br>
        <br>
        <strong>Learnstage</strong><br>
        Münsterstraße: 56<br>
        44145 Dortmund<br>
        Deutschland<br>
        Tel. +49 (0)231 9112-0<br>
        www.learnstage.de<br>

        <br>

        <span><strong>II. Name und Anschrift des Datenschutzbeauftragten</strong></span><br>
        Der Datenschutzbeauftragte des Verantwortlichen ist: Dr. Ali Hassan<br>
        E-Mail: datenschutz@fh-dortmund.de<br><br>
        Die höherrangige Beschwerdestelle ist die Landesbeauftragte für Datenschutz NRW.

        <br>
        <br>

        <span><strong>III. Allgemeines zur Datenverarbeitung</strong></span><br><br>
        <strong>1. Umfang der Verarbeitung personenbezogener Daten</strong><br>
        Wir verarbeiten personenbezogene Daten unserer NutzerInnen grundsätzlich nur, soweit dies zur Bereitstellung
        einer<br>
        funktionsfähigen Website sowie unserer Inhalte und Leistungen erforderlich ist. Die Verarbeitung
        personenbezogener<br>
        Daten unserer NutzerInnen erfolgt regelmäßig nur nach Einwilligung der nutzenden Person. Eine Ausnahme gilt in
        solchen<br> Fällen, in denen eine vorherige Einholung einer Einwilligung aus tatsächlichen Gründen nicht möglich
        ist
        und die Verarbeitung<br> der Daten durch gesetzliche Vorschriften gestattet ist.<br>

        <br>

        <strong>2. Rechtsgrundlage für die Verarbeitung personenbezogener Daten</strong><br>
        Soweit wir für Verarbeitungsvorgänge personenbezogener Daten eine Einwilligung der betroffenen Person einholen,
        dient Art. 6 Abs. 1 lit. a<br> EU-Datenschutzgrundverordnung (DSGVO) als Rechtsgrundlage.<br><br>

        Bei der Verarbeitung von personenbezogenen Daten, die zur Erfüllung<br> eines Vertrages, dessen Vertragspartei
        die
        betroffene Person ist, erforderlich ist, dient Art. 6 Abs. 1 lit. b DSGVO als Rechtsgrundlage.<br>
        Dies gilt auch für Verarbeitungsvorgänge, die zur Durchführung vorvertraglicher Maßnahmen erforderlich
        sind.<br><br>

        Soweit eine Verarbeitung personenbezogener Daten zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist,
        derunserer Hochschule unterliegt,<br> dient Art. 6 Abs. 1 lit. c DSGVO als Rechtsgrundlage.<br><br>

        Für den Fall, dass lebenswichtige Interessen der betroffenen Person oder einer anderen natürlichen Person eine
        Verarbeitung personenbezogener Daten<br> erforderlich machen, dient Art. 6 Abs. 1 lit. d DSGVO als
        Rechtsgrundlage.<br><br>

        Ist die Verarbeitung zur Wahrung eines berechtigten Interesses unserer Hochschule oder eines Dritten
        erforderlich und überwiegen die Interessen,<br> Grundrechte und Grundfreiheiten des Betroffenen das erstgenannte
        Interesse nicht, so dient Art. 6 Abs. 1 lit. f DSGVO als Rechtsgrundlage für die Verarbeitung.

        <br>
        <br>

        <strong>3. Datenlöschung und Speicherdauer</strong><br>
        Die personenbezogenen Daten der betroffenen Person werden gelöscht oder gesperrt, sobald der Zweck der
        Speicherung
        entfällt. Eine Speicherung kann darüber<br> hinaus erfolgen, wenn dies durch den europäischen oder nationalen
        Gesetzgeber in unionsrechtlichen Verordnungen, Gesetzen oder sonstigen Vorschriften, denen<br> der
        Verantwortliche
        unterliegt, vorgesehen wurde. Eine Sperrung oder Löschung der Daten erfolgt auch dann, wenn eine durch die
        genannten
        Normen vorgeschriebene<br> Speicherfrist abläuft, es sei denn, dass eine Erforderlichkeit zur weiteren
        Speicherung
        der Daten besteht.

        <br>
        <br>

        <span><strong>IV. Bereitstellung der Website und Erstellung von Logfiles</strong></span><br><br>
        <strong>1. Beschreibung und Umfang der Datenverarbeitung</strong><br>
        Bei jedem Aufruf unserer Website erfasst unser System automatisiert Daten und Informationen vom Computersystem
        des
        aufrufenden Rechners.<br>
        Folgende Daten werden hierbei erhoben:<br><br>
        <li>Informationen über den Browsertyp und die verwendete Version</li>
        <li>Das Betriebssystem</li>
        <li>Den Internet-Service-Provider</li>
        <li>Die IP-Adresse</li>
        <li>Datum und Uhrzeit des Zugriffs</li>
        <li> Websites, von denen das zugreifende System auf unsere Website gelangt</li>

        <br>
        <br>

        <strong>2. Rechtsgrundlage für die Datenverarbeitung</strong><br>
        Rechtsgrundlage für die vorübergehende Speicherung der Daten und der Logfiles ist Art. 6 Abs. 1 lit. f DSGVO.
        <br>
        <br>

        <strong>3. Zweck der Datenverarbeitung</strong><br>
        Die vorübergehende Speicherung der IP-Adresse durch das System ist notwendig, um eine Auslieferung der Website
        an
        den Rechner der zugreifenden<br> Person zu ermöglichen. Hierfür muss die jeweilige IP-Adresse für die Dauer der
        Sitzung gespeichert bleiben.<br><br>
        Die Speicherung in Logfiles erfolgt, um die Funktionsfähigkeit der Website sicherzustellen. Zudem dienen uns die
        Daten zur Optimierung der Website und<br> zur Sicherstellung der Sicherheit unserer informationstechnischen
        Systeme.
        Eine Auswertung der Daten zu Marketingzwecken findet in diesem Zusammenhang<br> nicht statt.
        In diesen Zwecken liegt auch unser berechtigtes Interesse an der Datenverarbeitung nach Art. 6 Abs. 1 lit. f
        DSGVO.

        <br>
        <br>
        <strong>4. Dauer der Speicherung</strong><br>
        Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich
        sind.
        Dies ist aufgrund von Sicherheitsaspekten und<br> der Nachvollziehbarkeit von technischen Fehlern nach 60 Tagen
        ab
        Speicherung der Fall.

        <br>
        <br>

        <strong>5. Widerspruchs- und Beseitigungsmöglichkeit</strong><br>
        Die Erfassung der Daten zur Bereitstellung der Website und die Speicherung der Daten in Logfiles ist für den
        Betrieb
        der Website zwingend erforderlich. Es besteht<br> folglich seitens des Nutzers/der Nutzerin keine
        Widerspruchsmöglichkeit.

        <br>
        <br>

        <span><strong>V. Verwendung von Cookies</strong></span><br><br>
        <strong>1. Beschreibung und Umfang der Datenverarbeitung</strong><br>
        Unsere Website verwendet sogenannte Session-Cookies. Bei Session-Cookies handelt es sich um Textdateien, die im
        Internetbrowser bzw. vom Internetbrowser<br> auf dem Computersystem der zugreifenden Person gespeichert werden.
        Ruft
        der/die NutzerIn eine Website auf, so kann ein Cookie auf dem zugreifenden Betriebssystem<br> gespeichert
        werden.
        Das Cookie enthält eine charakteristische Zeichenfolge, die eine eindeutige Identifizierung des Browsers beim
        erneuten Aufrufen der Website ermöglicht.<br><br>

        Wir setzen Cookies ein, um unsere Website nutzerfreundlicher zu gestalten. Einige Elemente unserer Website
        erfordern
        es, dass der aufrufende Browser auch nach einem<br> Seitenwechsel identifiziert werden kann.<br><br>

        In den Cookies werden dabei folgende Daten gespeichert und übermittelt:<br><br>

        <li>Spracheinstellungen</li><br>
        Beim Aufruf unserer Website werden zugreifende Personen über die Verwendung von Cookies zu Analysezwecken
        informiert
        und ihre Einwilligung zur Verarbeitung der in<br> diesem Zusammenhang verwendeten personenbezogenen Daten
        eingeholt.
        In
        diesem Zusammenhang erfolgt auch ein Hinweis auf diese Datenschutzerklärung.

        <br>
        <br>

        <strong>2. Rechtsgrundlage für die Datenverarbeitung</strong><br>
        Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter Verwendung technisch notweniger Cookies
        ist
        Art. 6 Abs. 1 lit. f DSGVO.

        <br>
        <br>

        <strong>3. Zweck der Datenverarbeitung</strong><br>
        Der Zweck der Verwendung technisch notwendiger Cookies ist, die Nutzung von Websites für die NutzerInnen zu
        vereinfachen. Einige Funktionen unserer Website können<br> ohne den Einsatz von Cookies nicht angeboten werden.
        Für
        diese ist es erforderlich, dass der Browser auch nach einem Seitenwechsel wiedererkannt wird.<br><br>

        Für folgende Anwendungen benötigen wir Cookies:<br><br>

        <li>Übernahme von Spracheinstellungen</li><br>
        Die durch technisch notwendige Cookies erhobenen personenbezogenen Daten werden nicht zur Erstellung von
        persönlichen Profilen verwendet.

        <br>
        <br>

        <strong>4. Dauer der Speicherung, Widerspruchs- und Beseitigungsmöglichkeit</strong><br>
        Cookies werden auf dem Rechner der zugreifenden Person gespeichert und von diesem an unserer Seite übermittelt.
        NutzerInnen haben demnach auch die volle Kontrolle<br> über die Verwendung von Cookies. Durch eine Änderung der
        Einstellungen in Ihrem Internetbrowser können Sie die Übertragung von Cookies deaktivieren oder
        einschränken.<br>
        Bereits gespeicherte Cookies können jederzeit gelöscht werden. Dies kann auch automatisiert erfolgen. Werden
        Cookies
        für unsere Website deaktiviert, können möglicherweise<br> nicht mehr alle Funktionen der Website vollumfänglich
        genutzt
        werden.

        <br>
        <br>

        <span><strong>VI. E-Mail-Kontakt</strong></span><br><br>
        <strong>1. Beschreibung und Umfang der Datenverarbeitung</strong><br>
        Auf unserer Website ist ein E-Mail-Kontakt angegeben, welcher für die elektronische Kontaktaufnahme genutzt
        werden
        kann. Im Rahmen der Kontaktaufnahme werden die mit<br> der E-Mail übermittelten personenbezogenen Daten
        gespeichert.<br><br>

        Es erfolgt in diesem Zusammenhang keine Weitergabe der Daten an Dritte. Die Daten werden ausschließlich für die
        Verarbeitung der Konversation verwendet.

        <br>
        <br>

        <strong>2. Rechtsgrundlage für die Datenverarbeitung</strong><br>
        Rechtsgrundlage für die Verarbeitung der Daten, die im Zuge einer Übersendung einer E-Mail übermittelt werden,
        ist
        Art. 6 Abs. 1 lit. f DSGVO.

        <br>
        <br>

        <strong>3. Zweck der Datenverarbeitung</strong><br>
        Bei der Kontaktaufnahme per E-Mail liegt in der Kontaktaufnahme selbst das erforderliche berechtigte Interesse
        an
        der Verarbeitung der personenbezogenen Daten.

        <br>
        <br>

        <strong>4. Dauer der Speicherung</strong><br>
        Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich
        sind.
        Für die personenbezogenen Daten, die per E-Mail übersandt<br> wurden, ist dies dann der Fall, wenn die jeweilige
        Konversation beendet ist. Beendet ist die Konversation dann, wenn sich aus den Umständen entnehmen lässt, dass
        der<br>betroffene Sachverhalt abschließend geklärt ist.

        <br>
        <br>

        <strong>5. Widerspruchs- und Beseitigungsmöglichkeit</strong><br>
        NutzerInnen haben jederzeit die Möglichkeit, ihre Einwilligung zur Verarbeitung der personenbezogenen Daten zu
        widerrufen. Der Speicherung der personenbezogenen Daten<br> kann jederzeit per E-Mail-Kontakt widersprochen
        werden.
        In einem solchen Fall kann die Konversation nicht fortgeführt werden.

        <br>
        <br>

        <span><strong>VII. Webanalyse durch Matomo</strong></span><br><br>
        <strong>1. Beschreibung und Umfang der Datenverarbeitung</strong><br>
        Wir nutzen auf unserer Website das Open-Source-Software-Tool Matomo zur Analyse des Surfverhaltens unserer
        Nutzer. Die Software setzt ein Cookie auf dem Rechner<br> der NutzerInnen (zu Cookies siehe bereits oben).
        Werden Einzelseiten unserer Website aufgerufen, so werden folgende Daten gespeichert:<br><br>

        <li>Ein Byte der IP-Adresse des aufrufenden Systems des Nutzers</li>
        <li>Die aufgerufene Website</li>
        <li>Die Website, von der der Nutzer/die Nutzerin auf die aufgerufene Website gelangt ist (Referrer)</li>
        <li>Die Unterseiten, die von der aufgerufenen Website aus aufgerufen werden</li>
        <li>Die Verweildauer auf der Website</li>
        <li>Die Häufigkeit des Aufrufs der Website</li><br>
        Die Software läuft dabei ausschließlich auf den Servern unserer Website. Eine Speicherung der personenbezogenen
        Daten der NutzerInnen findet nur dort statt.<br>
        Eine Weitergabe der Daten an Dritte erfolgt nicht.<br><br>

        Die Software ist so eingestellt, dass die IP-Adressen nicht vollständig gespeichert werden, sondern das letzte
        Oktett (Byte) der IP-Adresse maskiert wird (Bsp.: 192.168.0.xxx).<br>
        Auf diese Weise ist eine Zuordnung der gekürzten
        IP-Adresse zum aufrufenden Rechner nicht mehr möglich.<br><br>

        Beim Abruf einer Website werden Daten über diesen Vorgang gespeichert. Im Einzelnen sind dies die folgenden
        Informationen: Seitentitel,<br>
        Suchbegriff (durch die Besucher auf die Seite kommen), Suchmaschinen, Seiten-URL, Anzahl
        der besuchten Seiten, Standort des Besuchers (Land), Provider, Browser,<br> Betriebssystem, Bildschirmauflösung,
        Browserplugins, Besuchszeiten, Besuchsdauer, Eingangsseiten, Ausstiegsseiten, Downloads, verweisende Webseiten.

        <br>
        <br>

        <strong>2. Rechtsgrundlage für die Verarbeitung personenbezogener Daten</strong><br>
        Rechtsgrundlage für die Verarbeitung der personenbezogenen Daten der NutzerInnen ist Art. 6 Abs. 1 lit. f DSGVO.

        <br>
        <br>

        <strong>3. Zweck der Datenverarbeitung</strong><br>
        Die Verarbeitung der personenbezogenen Daten der NutzerInnen ermöglicht uns eine Analyse des Surfverhaltens
        unserer
        NutzerInnen. Wir sind in durch die Auswertung<br> der gewonnen Daten in der Lage, Informationen über die Nutzung
        der
        einzelnen Komponenten unserer Website zusammenzustellen. Dies hilft uns dabei unsere Website<br> und deren
        Nutzerfreundlichkeit stetig zu verbessern. In diesen Zwecken liegt auch unser berechtigtes Interesse in der
        Verarbeitung der Daten nach Art. 6 Abs. 1 lit. f DSGVO.<br> Durch die Anonymisierung der IP-Adresse wird dem
        Interesse
        der NutzerInnen an deren Schutz personenbezogener Daten hinreichend Rechnung getragen.

        <br>
        <br>

        <strong>4. Dauer der Speicherung</strong><br>
        Die Daten werden gelöscht, sobald sie für unsere Aufzeichnungszwecke nicht mehr benötigt werden.

        <br>
        <br>

        <span><strong>VIII. Rechte der betroffenen Person</strong></span><br>
        Werden personenbezogene Daten von Ihnen verarbeitet, sind Sie eine betroffene Person i.S.d. DSGVO und es stehen
        Ihnen folgende Rechte gegenüber dem Verantwortlichen zu:<br><br>

        1. Auskunftsrecht (gem. Art. 15 DSGVO)<br>
        2. Recht auf Berichtigung (gem. Art. 16 DSGVO)<br>
        3. Recht auf Einschränkung der Verarbeitung (gem. Art. 18 DSGVO)<br>
        4. Recht auf Löschung (gem. Art 17 DSGVO)<br>
        5. Recht auf Unterrichtung (gem. Art. 19 DSGVO)<br>
        6. Recht auf Datenübertragbarkeit (gem. Art. 20 DSGVO)<br>
        7. Widerspruchsrecht (gem. Art. 21 DSGVO)<br>
        8. Recht auf Widerruf der datenschutzrechtlichen Einwilligungserklärung (gem. Art. 7 Abs. 3 DSGVO)<br>
        9. Automatisierte Entscheidung im Einzelfall einschließlich Profiling (gem. Art. 22 DSGVO)<br>
        10. Recht auf Beschwerde bei einer Aufsichtsbehörde (gem. Art. 77 DSGVO)

        <br>
        <br>


        <span><strong>IX. Wird auf externe Links verwiesen?</strong></span><br>
        Die FH Dortmund übernimmt keine Haftung für die Verweise zu externen Links. Für deren Inhalte und die Einhaltung
        der
        datenschutzrechtlichen Bestimmungen sind ausschließlich<br>
        die BetreiberInnen der jeweiligen Websiten verantwortlich.

        <br>
        <br>

        <span><strong>X. Urheberrechtliche Ansprüche auf Bilder und Inhalte</strong></span><br>
        Die Inhalte der Website unterliegen dem deutschen Urheberrecht. Jegliche Verwendung, Vervielfältigung und
        Nutzung
        für andere Zwecke benötigt die Zustimmung der jeweiligen<br> Autoren und ErstellerInnen dieser Website.

        <br>
        <br>

        <span><strong>XI. Aktualisierung der Datenschutzerklärung</strong></span><br>
        Aufgrund aktueller Gegebenheiten, wie z.B. einer Novellierung des TMG (Telemediengesetz), wird die FH Dortmund,
        sofern notwendig, diese Datenschutzerklärung aktualisieren.
    </p>
</div>