
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #e4d5c5;
  color: #002b44;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}

button:hover {
  opacity: 0.8;
}

.regbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #e4d5c5;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

.reg {
  display: flex;
  justify-content: center;
}

span.psw {
  float: right;
  padding-top: 16px;
}


@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000099;
}

.dialogTag {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  background-color: white;
  border-radius: 8px;
  color: black;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
}

.btnModal {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  background-color: #e4d5c5;
  color: #002b44;
}

.btnCon {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


.close {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 32px;
  line-height: 6px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  cursor: pointer;
}

h2 {
  color: #002b44;
  display: flex;
  justify-content: center;
}

.headlineCont {
  display: flex;
  justify-content: center;
}