<body>
    <h2>Bitte geben Sie Ihre Benutzerdaten ein!</h2>

    <form action="/action_page.php" method="post">

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Username" name="uname" id="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Passwort" name="psw" id="psw" required>
        <button (click)="login()" type="submit">Login</button>
    </div>

    <div class="reg" style="background-color:#f1f1f1">
        <button type="button" class="regbtn" (click)="newUser()">Registrieren</button>
    </div>
    </form>

    <div *ngIf="overlayHide==true">
        <div class="overlay"></div>
        <div class="dialogTag">
            <div class="headlineCont"><h2>Registrierung</h2></div>
           <span class="close" (click)="closeModal()">&times;</span>
           <input id="inputUser" type="text"><br>
           <input id="inputPassword" type="text"><br>
           <div class="btnCon"><button (click)="regUser()" class="btnModal">Registrierung</button></div>
       </div>
    </div>
</body>
