<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div (click)="showMenu()" class="container">
	<div *ngIf="hamburgerHide==true" class="hamburger" id="hamburger-1">
		<span class="line"></span>
		<span class="line"></span>
		<span class="line"></span>
	</div>
	<div *ngIf="closeHidden==true">
      <span class="material-icons">close</span>
	</div>
</div>

<div *ngIf="overlayHide==true">
    <div class="overlay"></div>
    <div class="dialogTag">
        <div class="headlineCont"><h4>Wollen Sie den Tag und den damit verbundenen Inhalt wirklich löschen?</h4></div>
       <span class="close" (click)="closeModal()">&times;</span>
       <br>
       <div class="btnCon"><button (click)="deleteTag()" class="btnModal">Löschen</button></div>
   </div>
</div>

<div *ngIf="overlayShared==true">
    <div class="overlay"></div>
    <div class="dialogTag">
        <div class="headlineCont"><h2>Mit wem wollen Sie den Tag teilen?</h2></div>
       <span class="close" (click)="closeSharedModal()">&times;</span>
       <input id="inputUser" type="text"><br>
       <div class="btnCon"><button class="btnModal" (click) ="sharingTag()">Tag teilen</button></div>
   </div>
</div>

<div class="dropdown-content" *ngIf="menuHidden==false">
   <a (click)="tagging()">Tag löschen</a>
   <a (click)="shareTag()">Tag teilen</a>
</div>
