<h1>Impressum</h1>

<div>
    <p> Informationspflicht laut §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch,<br> §63 Gewerbeordnung und
        Offenlegungspflicht laut §25 Mediengesetz.
        <br>
        <br>
        <strong>Learnstage</strong><br>
        Münsterstraße: 56 <br>
        44145 Dortmund<br>
        Deutschland

        <br>
        <br>

        <strong>UID-Nummer:</strong> DE12345678<br>
        <strong>Wirtschafts-ID:</strong> DE123456789<br>

        <br>

        Tel.: 01234/56789<br>
        E-Mail: office@musterfirma.de
    </p>
</div>