.container {
    display: flex;
    justify-content: center;
}

.containerHam {
    display: relative;
    margin-left: 700px;
    padding-bottom: 20px;
}

.containerInput {
    background-color: #e4d5c5;
    display: inline-flex;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 10px;
}
label {
    color: #002b44;
    cursor: pointer;
    font-weight: bold;
}

.upload {
    background-color: #e4d5c5;
    border-radius: 5px;
    border: none;
    color: #002b44;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

.containerUploads {
    display: flex;
    border-bottom: 1.8px solid #808080;
    margin-top: 3px;
}

.line {
    border-top: 1.8px solid #808080;
}

.fileIcon {
    color: #002b44;
    margin-right: 5px;
}

.fileName {
    margin-top: 3px;
}

