.container {
    display: flex;
    justify-content: center;
}

.containerHam {
    display: relative;
    margin-left: 700px;
    padding-bottom: 20px;
}

.containerInput {
    background-color: #e4d5c5;
    display: inline-flex;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 10px;
}
label {
    color: #002b44;
    cursor: pointer;
    font-weight: bold;
}

.upload {
    background-color: #e4d5c5;
    border-radius: 5px;
    border: none;
    color: #002b44;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

.containerUploads {
    display: flex;
    border-bottom: 1.8px solid #808080;
    margin-top: 3px;
}

.line {
    border-top: 1.8px solid #808080;
}

.fileIcon {
    color: #002b44;
    margin-right: 5px;
}

.fileName {
    margin-top: 3px;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #7c7c7c;
}

.dialogTag {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    background-color: white;
    border-radius: 8px;
    color: black;
    box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
}

.btnModal {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: #e4d5c5;
    color: #002b44;
}

.btnCon {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #002b44;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    margin-left: 1%;
    margin-right: 1%;
}

.close {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 32px;
    line-height: 6px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    cursor: pointer;
}

h2 {
    color: #002b44;
}

.headlineCont {
    display: flex;
    justify-content: center;
}