<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="containerInput">
            <label>
                <input type="file" (change)="selectFile($event)" hidden /> <i class="material-icons">add</i>
            </label>
        </div>
        <button class="upload" [disabled]="!selectedFiles" (click)="upload()">
            <i class="material-icons">file_upload</i>
        </button>
    </div>
 <br>
    <div class="line"></div>
    <div class="containerUploads" *ngFor="let file of files">
        <div class="fileIcon"><a style="text-decoration: none; color: inherit;" href={{file.url}}><i class="material-icons">download_for_offline</i></a></div>
        <div class="fileName">
            <div>
                {{file.name}}
            </div>
            <div>
              <ng-container *ngFor="let star of stars;">
                <app-star-rating (starEnter)="onStarEnter($event)" (starLeave)="onStarLeave()" 
                (starClicked)="onStarClicked($event)" [starId]="star" [rating]="hoverState || rating">
                </app-star-rating>
              </ng-container>
              </div>
              <div class="containerHam"><app-hamburger-tag [filename]=file.name></app-hamburger-tag></div>
        </div>
    </div>
</body>
