.container {
    display: flex;
    justify-content: center;
    background-color: #e4d5c5;
}

a {
    color: #002b44;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: underline 2.5px #e4d5c5;
}


a:hover {
    transition: transform 2s;
    text-decoration-color: #002b44;
    cursor: pointer;
}